body {
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
	-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	background-color:#E4E4E4;
	-webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;

}

#header h1 {
	float: right;
	margin: 0 5% 0 0 !important;
	font-size: 1.4em;
}

#content {
	padding: 0 !important;
	margin: 0 !important;
	overflow-x: visible;
}
fieldset > div:first-child > div.ui-btn.ui-input-btn.ui-corner-all.ui-shadow {
	margin-left: 0 !important;
	margin-right: 1%;
}
fieldset > div:last-child > div.ui-btn.ui-input-btn.ui-corner-all.ui-shadow {
	margin-right: 0 !important;
	margin-left: 1%;
}
.ui-btn-active {
	background-color: #f6f6f6 !important;
	border-color: #ddd !important;
	color: rgb(51, 51, 51) !important;
	text-shadow: rgb(243, 243, 243) 0px 1px 0px !important;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
	text-shadow: none !important;
}

#formremove, #formreset, #formreset2 {
	background-color: red;
    opacity: .3;
}

#formsubmit {
	background-color: green;
    opacity: .3;
}

#openpopup {
	width: 80vw;
}
