<?xml version='1.0' encoding='utf-8'?>
<widget id="net.ddns.matthewpipie.BlockScheduleApp" version="2.2.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Block Schedule Helper</name>
    <description>
        A simple app to help manage block schedules.
    </description>
    <author email="matthewpipie@gmail.com" href="matthewpipie.ddns.net">
        matthewpipie
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <platform name="ios">
        <preference name="StatusBarOverlaysWebview" value="false" />
        <preference name="StatusBarBackgroundColor" value="#e9e9e9" />
        <preference name="StatusBarStyle" value="default" />
    </platform>
	<preference name="DisallowOverscroll" value="true" />
    <engine name="android" spec="~5.2.1" />
    <engine name="ios" spec="~4.2.0" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-sqlite-storage" spec="https://github.com/litehelpers/Cordova-sqlite-storage.git" />
    <plugin name="cordova-plugin-dialogs" spec="~1.2.1" />
    <plugin name="cordova-plugin-statusbar" spec="~2.1.3" />
    <plugin name="de.appplant.cordova.plugin.local-notification" spec="https://github.com/EddyVerbruggen/cordova-plugin-local-notifications" />
</widget>
