
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
}

#header h1 {
	float: right;
	margin: 0 5% 0 0 !important;
    font-size: 1.4em;
}

#content {
    padding: 0 !important;
    margin: 0 !important;
    overflow-x: visible;
}
